html,
body,
#root {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: Roboto;
  background: rgb(33, 37, 43);
}

main {
  margin: auto;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}
